.container {
  max-width: min(1024px, 100%);
  flex: 1 0 auto;
  padding: 0 1rem;
  margin: calc(3rem + 60px) auto 3rem;
}

@media(min-width: 1025px) {
  .container {
    margin: calc(3rem + 105px) auto 3rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.breadCrumbs {
  display: flex;
  justify-content: flex-start;
}
*/