.postHeading, .headingXl, .heading2Xl, .heading3Xl, .introTitle {
  font-weight: 800;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  margin: 1rem 0;
}

.introTitle {
  font-size: 3.25rem;
}

.introDescription {
  margin: 3rem 0 1.5rem 0;
  font-size: 1.25rem;
}

.sectionHeading {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.postHeading {
  font-size: 2.25rem;
  text-align: center;
}

.headingMd {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (min-width:780px) {
  .introTitle {
    font-size: 4.50rem;
    line-height: 1.1;
  }

  .postHeading {
    font-size: 3.50rem;
  }

  .introDescription {
    font-size: 1.5rem;
  }
}

/* Vercel Intro Font-Settings */
@media screen and (min-width:1024px) {
  .introTitle {
    font-size: 5.75rem;
    line-height: 1;
  }

  .postHeading {
    font-size: 4.75rem;
  }

  .introDescription {
    font-size: 1.75rem;
  }

  .sectionHeading {
    font-size: 1.75rem;
  }

  .headingMd {
    font-size: 1.50rem;
  }
}

.heading3Xl {
  font-size: 3rem;
  line-height: 1.1;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
}

/* .article {

} */

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #7f8f9f;
}

.nameLogoTxt, .heroNameLogoTxt, .heroNameLogoTxt strong {
  font-family: 'Fira Sans', 'Readex Pro', Helvetica Neue, sans-serif;
  font-weight: 800;
  color: #000;
}

.nameLogoTxt {
  padding: 14px;
  font-size: 1.75rem;
}

.heroNameLogoTxt {
  border-bottom: 7px solid #000;
}

.thinText {
  font-weight: 300;
}

.strk-thru {
  text-decoration: line-through;
}

.gist {
  font-size: 1rem;
  margin-top: 16px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsContainer, .skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}